In [8]:
from os import listdir
import pandas as pd

pd.read_csv('data/covid.csv').head()

      location    population  population_density  median_age
0  Afghanistan  4.112877e+07              54.422        18.6
1       Africa  1.426737e+09                 NaN         NaN
2      Albania  2.842318e+06             104.871        38.0
3      Algeria  4.490323e+07              17.348        29.1
4      Andorra  7.984300e+04             163.755         NaN

In [9]:
listdir('data')

['covid.csv']

In [12]:
listdir('data')[0].split('.')[-1]

'csv'

In [13]:
directory = 'data'
item = 'covid.csv'
data = []
data.append(pd.read_csv(f"{directory}/{item}"))

In [14]:
data

[           location    population  population_density  median_age
 0       Afghanistan  4.112877e+07              54.422        18.6
 1            Africa  1.426737e+09                 NaN         NaN
 2           Albania  2.842318e+06             104.871        38.0
 3           Algeria  4.490323e+07              17.348        29.1
 4           Andorra  7.984300e+04             163.755         NaN
 ..              ...           ...                 ...         ...
 243  Western Sahara  5.760050e+05                 NaN        28.4
 244           World  7.975105e+09              58.045        30.9
 245           Yemen  3.369661e+07              53.508        20.3
 246          Zambia  2.001767e+07              22.995        17.7
 247        Zimbabwe  1.632054e+07              42.729        19.6

 [248 rows x 4 columns]]