In [2]:
from os import listdir
import pandas as pd

pd.read_csv('data/covid.csv').head()

,Unnamed: 0,AFG,OWID_AFR,ALB,DZA,AND,AGO,AIA,ATG,ARG,...,VAT,VEN,VNM,OWID_WLS,WLF,ESH,OWID_WRL,YEM,ZMB,ZWE
0,continent,Asia,NaN,Europe,Africa,Europe,Africa,North America,North America,South America,...,Europe,South America,Asia,Europe,Oceania,Africa,NaN,Asia,Africa,Africa
1,location,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Vatican,Venezuela,Vietnam,Wales,Wallis and Futuna,Western Sahara,World,Yemen,Zambia,Zimbabwe
2,population,41128772.0,1426736614.0,2842318.0,44903228.0,79843.0,35588996.0,15877.0,93772.0,45510324.0,...,808.0,28301700.0,98186856.0,3170000.0,11596.0,576005.0,7975105024.0,33696612.0,20017670.0,16320539.0
3,population_density,54.422,NaN,104.871,17.348,163.755,23.89,NaN,231.845,16.177,...,NaN,36.253,308.127,NaN,NaN,NaN,58.045,53.508,22.995,42.729
4,median_age,18.6,NaN,38.0,29.1,NaN,16.8,NaN,32.1,31.9,...,NaN,29.0,32.6,NaN,NaN,28.4,30.9,20.3,17.7,19.6

In [3]:
listdir('data')

['covid.csv']

In [4]:
listdir('data')[0].split('.')[-1]

'csv'

In [5]:
directory = 'data'
item = 'covid.csv'
data = []
data.append(pd.read_csv(f"{directory}/{item}"))

In [6]:
data

[                    Unnamed: 0  \
 0                    continent
 1                     location
 2                   population
 3           population_density
 4                   median_age
 5                aged_65_older
 6                aged_70_older
 7               gdp_per_capita
 8        cardiovasc_death_rate
 9          diabetes_prevalence
 10      handwashing_facilities
 11  hospital_beds_per_thousand
 12             life_expectancy
 13     human_development_index
 14                        data
 15             extreme_poverty
 16              female_smokers
 17                male_smokers

                                                   AFG  \
 0                                                Asia
 1                                         Afghanistan
 2                                          41128772.0
 3                                              54.422
 4                                                18.6
 5                                               2.581
 6                                               1.337
 7                                            1803.987
 8                                             597.029
 9                                                9.59
 10                                             37.746
 11                                                0.5
 12                                              64.83
 13                                              0.511
 14  [{'date': '2020-02-24', 'total_cases': 5.0, 'n...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                              OWID_AFR  \
 0                                                 NaN
 1                                              Africa
 2                                        1426736614.0
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14  [{'date': '2020-02-13', 'new_cases': 0.0, 'new...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                                   ALB  \
 0                                              Europe
 1                                             Albania
 2                                           2842318.0
 3                                             104.871
 4                                                38.0
 5                                              13.188
 6                                               8.643
 7                                           11803.431
 8                                             304.195
 9                                               10.08
 10                                                NaN
 11                                               2.89
 12                                              78.57
 13                                              0.795
 14  [{'date': '2020-02-25', 'total_tests': 8.0, 'n...
 15                                                1.1
 16                                                7.1
 17                                               51.2

                                                   DZA  \
 0                                              Africa
 1                                             Algeria
 2                                          44903228.0
 3                                              17.348
 4                                                29.1
 5                                               6.211
 6                                               3.857
 7                                           13913.839
 8                                             278.364
 9                                                6.73
 10                                             83.741
 11                                                1.9
 12                                              76.88
 13                                              0.748
 14  [{'date': '2020-02-25', 'total_cases': 1.0, 'n...
 15                                                0.5
 16                                                0.7
 17                                               30.4

                                                   AND  \
 0                                              Europe
 1                                             Andorra
 2                                             79843.0
 3                                             163.755
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                             109.135
 9                                                7.97
 10                                                NaN
 11                                                NaN
 12                                              83.73
 13                                              0.868
 14  [{'date': '2020-03-02', 'total_cases': 1.0, 'n...
 15                                                NaN
 16                                               29.0
 17                                               37.8

                                                   AGO  \
 0                                              Africa
 1                                              Angola
 2                                          35588996.0
 3                                               23.89
 4                                                16.8
 5                                               2.405
 6                                               1.362
 7                                            5819.495
 8                                             276.045
 9                                                3.94
 10                                             26.664
 11                                                NaN
 12                                              61.15
 13                                              0.581
 14  [{'date': '2020-03-20', 'total_cases': 1.0, 'n...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                                   AIA  \
 0                                       North America
 1                                            Anguilla
 2                                             15877.0
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                              81.88
 13                                                NaN
 14  [{'date': '2020-03-28', 'total_cases': 2.0, 'n...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                                   ATG  \
 0                                       North America
 1                                 Antigua and Barbuda
 2                                             93772.0
 3                                             231.845
 4                                                32.1
 5                                               6.933
 6                                               4.631
 7                                           21490.943
 8                                             191.511
 9                                               13.17
 10                                                NaN
 11                                                3.8
 12                                              77.02
 13                                              0.778
 14  [{'date': '2020-03-13', 'total_cases': 1.0, 'n...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                                   ARG  ...  \
 0                                       South America  ...
 1                                           Argentina  ...
 2                                          45510324.0  ...
 3                                              16.177  ...
 4                                                31.9  ...
 5                                              11.198  ...
 6                                               7.441  ...
 7                                           18933.907  ...
 8                                             191.032  ...
 9                                                 5.5  ...
 10                                                NaN  ...
 11                                                5.0  ...
 12                                              76.67  ...
 13                                              0.845  ...
 14  [{'date': '2020-01-01', 'total_tests': 4.0, 'n...  ...
 15                                                0.6  ...
 16                                               16.2  ...
 17                                               27.7  ...

                                                   VAT  \
 0                                              Europe
 1                                             Vatican
 2                                               808.0
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                              75.12
 13                                                NaN
 14  [{'date': '2020-03-06', 'total_cases': 1.0, 'n...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                                   VEN  \
 0                                       South America
 1                                           Venezuela
 2                                          28301700.0
 3                                              36.253
 4                                                29.0
 5                                               6.614
 6                                               3.915
 7                                           16745.022
 8                                              204.85
 9                                                6.47
 10                                                NaN
 11                                                0.8
 12                                              72.06
 13                                              0.711
 14  [{'date': '2020-03-14', 'total_cases': 2.0, 'n...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                                   VNM  \
 0                                                Asia
 1                                             Vietnam
 2                                          98186856.0
 3                                             308.127
 4                                                32.6
 5                                                7.15
 6                                               4.718
 7                                            6171.884
 8                                             245.465
 9                                                 6.0
 10                                             85.847
 11                                                2.6
 12                                               75.4
 13                                              0.704
 14  [{'date': '2020-01-23', 'total_cases': 2.0, 'n...
 15                                                2.0
 16                                                1.0
 17                                               45.9

                                              OWID_WLS  \
 0                                              Europe
 1                                               Wales
 2                                           3170000.0
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14  [{'date': '2020-03-23', 'icu_patients': 16.0, ...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                                   WLF  \
 0                                             Oceania
 1                                   Wallis and Futuna
 2                                             11596.0
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                              79.94
 13                                                NaN
 14  [{'date': '2020-10-19', 'total_cases': 1.0, 'n...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                                   ESH  \
 0                                              Africa
 1                                      Western Sahara
 2                                            576005.0
 3                                                 NaN
 4                                                28.4
 5                                                 NaN
 6                                                1.38
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                              70.26
 13                                                NaN
 14  [{'date': '2022-04-20', 'total_tests': 3943.0,...
 15                                                NaN
 16                                                NaN
 17                                                NaN

                                              OWID_WRL  \
 0                                                 NaN
 1                                               World
 2                                        7975105024.0
 3                                              58.045
 4                                                30.9
 5                                               8.696
 6                                               5.355
 7                                           15469.207
 8                                              233.07
 9                                                8.51
 10                                              60.13
 11                                              2.705
 12                                              72.58
 13                                              0.737
 14  [{'date': '2020-01-22', 'total_cases': 557.0, ...
 15                                               10.0
 16                                              6.434
 17                                             34.635

                                                   YEM  \
 0                                                Asia
 1                                               Yemen
 2                                          33696612.0
 3                                              53.508
 4                                                20.3
 5                                               2.922
 6                                               1.583
 7                                            1479.147
 8                                             495.003
 9                                                5.35
 10                                             49.542
 11                                                0.7
 12                                              66.12
 13                                               0.47
 14  [{'date': '2020-04-10', 'total_cases': 1.0, 'n...
 15                                               18.8
 16                                                7.6
 17                                               29.2

                                                   ZMB  \
 0                                              Africa
 1                                              Zambia
 2                                          20017670.0
 3                                              22.995
 4                                                17.7
 5                                                2.48
 6                                               1.542
 7                                            3689.251
 8                                             234.499
 9                                                3.94
 10                                             13.938
 11                                                2.0
 12                                              63.89
 13                                              0.584
 14  [{'date': '2020-03-18', 'total_cases': 2.0, 'n...
 15                                               57.5
 16                                                3.1
 17                                               24.7

                                                   ZWE
 0                                              Africa
 1                                            Zimbabwe
 2                                          16320539.0
 3                                              42.729
 4                                                19.6
 5                                               2.822

In [10]:
test = pd.read_csv("data/covid.csv", index_col="Unnamed: 0")
test.head()

,AFG,OWID_AFR,ALB,DZA,AND,AGO,AIA,ATG,ARG,ARM,...,VAT,VEN,VNM,OWID_WLS,WLF,ESH,OWID_WRL,YEM,ZMB,ZWE
continent,Asia,NaN,Europe,Africa,Europe,Africa,North America,North America,South America,Asia,...,Europe,South America,Asia,Europe,Oceania,Africa,NaN,Asia,Africa,Africa
location,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Vatican,Venezuela,Vietnam,Wales,Wallis and Futuna,Western Sahara,World,Yemen,Zambia,Zimbabwe
population,41128772.0,1426736614.0,2842318.0,44903228.0,79843.0,35588996.0,15877.0,93772.0,45510324.0,2780472.0,...,808.0,28301700.0,98186856.0,3170000.0,11596.0,576005.0,7975105024.0,33696612.0,20017670.0,16320539.0
population_density,54.422,NaN,104.871,17.348,163.755,23.89,NaN,231.845,16.177,102.931,...,NaN,36.253,308.127,NaN,NaN,NaN,58.045,53.508,22.995,42.729
median_age,18.6,NaN,38.0,29.1,NaN,16.8,NaN,32.1,31.9,35.7,...,NaN,29.0,32.6,NaN,NaN,28.4,30.9,20.3,17.7,19.6